run = "npm run start:replit"
hidden = [".config", "package-lock.json"]
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start:replit"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5001
externalPort = 80
